@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  --font-primary: "Poppins", "sans-serif";
  --font-secondary: "Montserrat", "sans-serif";
  --color-primary: #26c399;
  --color-primary-darker: #1f8c6f;
  --color-secondary: rgb(202, 202, 202);
  --color-bg-primary: #2e2e2a;
  --color-bg-secondary: #181c14;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

html * {
  font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif !important;
}
