@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  --font-primary: "Poppins", "sans-serif";
  --font-secondary: "Montserrat", "sans-serif";
  --color-primary: #046e8c;
  --color-secondary: #1e8e3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

html * {
  font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif !important;
}
